.BET365 {
    background-color: var(--bet365_brand) !important;
}
.CORAL {
    background-color: var(--coral_brand) !important;
}
.BETFAIR {
    background-color: var(--betfair_brand) !important;
}
.UNIBET {
    background-color: var(--unibet_brand) !important;
}
.PADDYPOWER {
    background-color: var(--paddypower_brand) !important;
}
.RACEBETS {
    background-color: var(--racebets_brand) !important;
}
.SKYBET {
    background-color: var(--skybet_brand) !important;
}
.LADBROKES {
    background-color: var(--ladbrokes_brand) !important;
}
.WILLIAMHILL {
    background-color: var(--williamhill_brand) !important;
}