.freeBetsWrapper {
    padding: 2em 5em;
    font-size: 10px;
    background: #fff;
}
.filter {
    outline: none;
    padding: 5px;
    border-radius: 0;
    width: 240px;
    margin-bottom: 1em;
    font-family: ProximaNovaA-SemiBold;
    font-size: 16px;
    border: 1px solid #313131;
    cursor: pointer;
}