.bottomCopy {
  background: var(--darkblue);
  color: #fff;
  padding: 26px;

  h2 {
    font-size: 2em;
    font-family: ProximaNovaA-Bold;
    line-height: 1;
    margin: 0 0 0.5em;
  }
  p {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
  }
}