.tip {
    min-width: 230px;
    margin: 12px 10px 4px;
    display: flex;
    flex-direction: column;
    height: auto;
}
.bookmaker {
    background-size: auto 70% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    min-height: 26px;
    height: 26px;
    box-sizing: border-box;
}
.raceDetails {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 6px 0;

    div {
        margin: 0 6px;
    }
    svg {
        margin-right: 4px;
    }
}
.tipAuthor {
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid var(--darkblue);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0;
    background: #fff;

    h3 {
        margin: 0;
        font-size: 14px;
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        margin-right: 8px;
        border: 1px solid #006838;
        padding: 2px;
        box-sizing: border-box;
        background: #fff;
    }
}
.tipType {
    margin: 0;
    font-size: 11px;
    margin-top: 4px;
    text-transform: uppercase;
    background: var(--lightblue);
    font-family: proximanovaa-semibold;
    padding: 2px 4px;
    border-radius: 0px 4px 0px 4px;
    color: #FFFFFF;
    display: inline-block;

    h3 {
        margin: 0;
        font-size: 12px;
        text-transform: uppercase;
    }
}
.tipContent {
    background: #fff;
    padding: 8px 12px;
    border: 1px solid var(--darkblue);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
}
.raceName {
    margin: 0 0 6px;
    text-align: center;
    font-size: 16px;
    font-family: ProximaNovaA-Bold;
    margin-top: 2px;
}
.BET365 {
    background-color: var(--bet365_brand) !important;
}
.CORAL {
    background-color: var(--coral_brand) !important;
}
.BETFAIR {
    background-color: var(--betfair_brand) !important;
}
.UNIBET {
    background-color: var(--unibet_brand) !important;
}
.PADDYPOWER {
    background-color: var(--paddypower_brand) !important;
}
.RACEBETS {
    background-color: var(--racebets_brand) !important;
}
.SKYBET {
    background-color: var(--skybet_brand) !important;
}
.LADBROKES {
    background-color: var(--ladbrokes_brand) !important;
}
.WILLIAMHILL {
    background-color: var(--williamhill_brand) !important;
}