@font-face {
  font-family: 'ProximaNovaA-SemiBold';
  font-display: swap;
  src: url(../fonts/proxima_nova_a_semibold.otf);
}
@font-face {
  font-family: 'ProximaNovaA-Bold';
  font-display: swap;
  src: url(../fonts/proxima_nova_a_bold.otf);
}
@font-face {
  font-family: 'ProximaNovaA-Regular';
  font-display: swap;
  src: url(../fonts/proxima_nova_a.otf);
}
/* COLORS start */
:root {
  --white: #fff;
  --black: #171717;
  --hover_red: #d11f25;
  --arrow_red: #ed1c24;
  --btn_red: #e21012;
  --dark_gray: #7f7f7f;
  --bg_gray: #e0e0e0;
  --inactive_gray: #859298;
  --race_time_gray: #7b7a8d;
  --yellow_active_filter: #fdd835;
  --dark_green: #006838;
  --green_border: #009444;
  --textbox_border_green: #8dc63f;
  --pink: #ff00bf;

  --brand-light-green: #009444;
  --brand-dark-green: #006838;

  --bet365_brand: #037a5b;
  --coral_brand: #024596;
  --betfair_brand: #feba0b;
  --unibet_brand: #137b43;
  --williamhill_brand: #01123b;
  --paddypower_brand: #064635;
  --racebets_brand: #ffc60b;
  --skybet_brand: #000847;
  --ladbrokes_brand: #ed1b24;
}

/* COLORS end */
body {
  margin: 0;
  font-family: Arial;
  font-family: ProximaNovaA-Regular;
  line-height: 1;
  background: var(--bg_gray);
  color: var(--black);
}
.container {
  background: var(--bg_gray);
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 12px;
}
a {
  outline: none;
}
a img {
  outline: none;
}
img {
  border: 0;
}



/* table styles from race template until i figure out how to refactor them into module */
th {
  text-align: start;
  padding: 10px 10px 5px 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
}
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  border: 1px solid #f0eff1;
  color: #262626;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 2px 2px 6px grey;
  top: 35px;
  left: -52px;
}
.tooltiptext:after {
  /* content: ''; */
  position: absolute;
  top: 0;
  left: 51%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -15px;
  margin-top: -10px;
}
.runner_tr td {
  border-top: 1px solid gainsboro;
  text-align: left;
  padding-left: 10px;
}
.tooltip svg {
  width: 13px;
}
/* table styles from race template need to refactor them into module */
/* Transition demo start */
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* Transition demo end */

