ul.react-tabs__tab-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
}
ul.react-tabs__tab-list li {
    flex: 1;
    background: #f0f0f0;
    display: block;
    padding: 16px 10px;
    border-right: 1px solid #859298;
    text-align: center;
    cursor: pointer;
    outline: none;
}
ul.react-tabs__tab-list li:last-child {
    border-right: none;
}
.react-tabs__tab--selected {
    background: #fff !important;
}