.races_custom_text {
  color: var(--black);
  margin: 10px 65px;
  font-size: 1.0em;
  line-height: 1.2em;
}

.races_custom_text h3 {
  background: var(--dark_green);
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  font-size: 1.9em;
  line-height: 1.1em;
  color: #ffffff;
  border-bottom: 1px solid var(--green_border);
}
.races_custom_text p {
  padding: 0 1em;
}

.races_custom_text a {
  text-decoration: underline;
  font-family: proximanovaa-bold;
  color: var(--black);
}

.races_custom_text p {
  padding: 0 1em;
}
.races_custom_text h2 {
  padding: 10px 0 10px 15px;
  background: #032c58;
  color: #fff;
}

.faq-cont.container {
  background: none;
}
.track-separator {
  margin: 1em;
  height: 5px;
  background: var(--darkblue);
}