.article_container {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  margin: 0 -6px;
}
.news_slider_item {
  margin-bottom: 12px;
  flex: 1;
  margin: 0 6px 12px 6px;
  min-width: 320px;
  background: #fff;
  color: #171717;
}
.news_slider_item:after {
  background: #006838;
  background: -moz-linear-gradient(top, #006838 0%, #006838 20%, #009444 20%, #009444 20%, #009444 41%, #39B54A 41%, #39B54A 41%, #009444 41%, #00A651 41%, #00A651 59%, #009444 59%, #00A651 59%, #00A651 59%, #39B54A 59%, #39B54A 80%, #8DC63F 80%, #7CBC0A 100%);
  background: -webkit-linear-gradient(top, #006838 0%,#006838 20%,#009444 20%,#009444 20%,#009444 41%,#39B54A 41%,#39B54A 41%,#009444 41%,#00A651 41%,#00A651 59%,#009444 59%,#00A651 59%,#00A651 59%,#39B54A 59%,#39B54A 80%,#8DC63F 80%,#7CBC0A 100%);
  background: linear-gradient(to bottom, #006838 0%,#006838 20%,#009444 20%,#009444 20%,#009444 41%,#39B54A 41%,#39B54A 41%,#009444 41%,#00A651 41%,#00A651 59%,#009444 59%,#00A651 59%,#00A651 59%,#39B54A 59%,#39B54A 80%,#8DC63F 80%,#7CBC0A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006838', endColorstr='#7CBC0A',GradientType=0 );
  content: '';
  position: relative;
  height: 25px;
  display: block;
}
.news_copy {
  padding: 15px 22px;
}
.news_copy h3 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 8px;
  line-height: 1;
  font-weight: normal;
  font-family: ProximaNovaA-SemiBold;
}
.news_copy h4 {
  color: #7F7F7F;
  font-size: 13px;
  font-style: italic;
  line-height: 1;
  margin: 6px 0 8px;
}
.news_copy p {
  font-size: 13px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1.2;
}
.news_copy a {
  font-size: 12px;
  color: #fff;
  background: #D11F25;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  font-family: proximanovaa-bold;
}
.news_img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vid {
  width: calc(50% - 6px);
  position: relative;
  margin: 0 0 12px;
}
.youtube {
  width: 100%;
  height: 386px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: #171717;
}
.youtube.inactive:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.65) 69%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 69%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 69%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.vid h2 {
  font-size: 16px;
  margin: 8px 0;
  line-height: 1;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: normal;
  padding: 12px;
}
.play_button {
  position: absolute;
  bottom: 30%;
  left: 12px;
  border: 2px solid #fff;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}
.youtube .play_button:before {
  content: "";
  border-style: solid;
  border-width: 1.5em 0 1.5em 2.6em;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  left: calc(50% + 0.35em);
  transform: translate(-50%,-50%);
}