.races_list {
  margin-top: 10px;
  font-family: ProximaNovaA-SemiBold, sans-serif;
}
.list_top {
  padding: 0px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid #ed1c24;
}
.list_content {
  background-color: #f0eff1;
  padding: 15px 5px;
  font-family: ProximaNovaA-SemiBold, sans-serif;
}
.card {
  display: flex;
  cursor: pointer;
}
.card_name {
  display: flex;
  color: var(--inactive_gray);
}
.card_name_active {
  display: flex;
  color: var(--black);
}
.race {
  color: var(--black);
  text-decoration: none;
}
.race_top {
  padding: 5px;
}
.race_top_active {
  color: var(--red);
  padding: 5px;
}
.race_top:hover {
  text-decoration: underline;
}
.race_top_time {
  font-family: ProximaNovaA-Bold, sans-serif;
  font-size: 20px;
}
.race_top_title {
  padding-left: 5px;
}
.list_top_card_name {
  
}
.list_top_arrow {
  padding: 0px 0px 0px 10px;
}

